<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body>

<header id="header" style="background-color: #03045E">
    <%- include('../partials/header'); %>
</header>

<div class="container-fluid profile_div text-center">
    <div class="row">

        <div class="col-5" style="height: 300px;">

            <img style=" height: 100%; width: 100%;object-fit: contain;"
                 src="<%= project.image %>">

        </div>
        <div class="col-7 py-auto ">
            <div class="row text-xl-start text-center">
                <div class="col-11 h1 startup_name"><%= project.title %></div>
            </div>
            <div class="row text-xl-start text-center my-2">
                <div class="col-11 h5 startup_short_description"><%= project.shortly %></div>

            </div>
            <div class="row text-xl-start text-center my-3">

                <div class="col-8">
                    <a href="/profile/<%= project.user.nickname %>"><img src="<%= project.user.image %>"
                                                                         class="startup_users_photo"> <span
                                class="startup_users_name"><%= project.user.nickname %></span></a>
                </div>
                <div class="col-3">
                    <img src="/img/icons/icon_rocket.png" class="startup_users_photo"> <span
                            class="startup_users_name"><%= userProjects %> project('s)</span>
                </div>
            </div>
            <div class="row text-xl-start text-center">
                <div class="row">
                    <div class="col-5 ps-4"><%= project.collected %>$/<%= project.goal %>$</div>
                    <div class="col-5 text-end ms-4"><%= project.days %> days left</div>
                </div>
                <div class="col-12 my-2">
                    <div id="progressbarWrapper">
                        <span id="blueBar" style="width: <%= barWidth %>%;"></span>
                    </div>
                </div>
            </div>
            <div class="row text-xl-start text-center my-2">
                <div class="col-5 my-2">
                    <input data-bs-toggle="modal" data-bs-target="#donateModal" class="submit" type="submit"
                           style="float: left" value="Donate">
                </div>
                <div class="col-5 my-2">
                    <span style="float: right">
                        <i class="fa fa-star text-warning"></i><%= project.avgRate %>/10
                    </span>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="container">
    <ul class="nav nav-pills mx-3 mt-4" role="tablist">
        <li class="nav-item w-25" role="presentation">
            <a href="/project/<%= project._id %>">
                <button class="nav-link  ">
                    Project
                </button>
            </a>
        </li>
        <li class="nav-item w-25" role="presentation">
            <button class="nav-link active">
                Comments
            </button>
        </li>


    </ul>
    <div class="contact-us-line  mb-3"></div>
</div>
<!--        COMMENTS BLOCK-->
<div class="container">
    <div class="row">
        <% project.comments.slice().reverse().forEach(function(comment) { %>
        <div class="col-12 startup_comments">
            <div class="row">
                <div class="col-1">
                    <a href="/profile/<%= comment.user.nickname %>">
                        <img src="<%= comment.user.image %>" class="startup_comments_users_photo">
                    </a>
                </div>
                <div class="col-10">
                    <div class="row">
                        <div class="col-12 ">
                            <span class="startup_users_name"><%= comment.user.first_name %> <%= comment.user.last_name %></span>
                            <span class="startup_users_comment_time"><%= date(comment.date) %></span>
                        </div>
                        <div class="col-12" style="word-break: break-word;"><%= comment.text %></div>
                    </div>
                </div>
            </div>
        </div>
        <% }) %>
    </div>
    <% if (isUser) { %>
    <form action="/project/<%= project._id %>/comment" method="POST">
        <div class="row">
            <div class="col-1">
                <a href="#">
                    <img src="<%= user.image %>" class="startup_comments_users_photo">
                </a>
            </div>
            <div class="col-11">
                <label for="text">Leave a comment</label>
                <textarea class="form-control border-1 border-dark" id="text" name="text"></textarea>
                <br>
                <input type="hidden" name="_method" value="DELETE">
                <button class="submit" style="float: left">Post Comment</button>
            </div>


        </div>

    </form>
    <% } %>
</div>
<br>
<%- include('../partials/footer') %>

<!-- Modal -->
<div class="modal fade" id="donateModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Back this start-up</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="post">
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="message-text" class="col-form-label">Donation amount:</label>
                        <input type="number" class="form-control" name="amount">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" formaction="/donate/<%= project._id %>" class="btn btn-success">Donate via
                        Balance
                    </button>
                    <button type="submit" formaction="/donate_paypal/<%= project._id %>" class="btn btn-success">Donate
                        via PayPal
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>