<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container mx-3">

<header>
    <%- include('../partials/header'); %>
</header>

<main>
    <br>
    <hr>
    <div class="row">
        <div class="col-3">
            <fieldset class="border border-3 p-3">
                <div class="text-center">
                    <img src="<%= user.image %>" height="200" width="200">
                    <hr>
                    <h2 class="display-5"><%= user.first_name %> <%= user.last_name %></h2>
                    <p class="lead"><%= user.nickname %> </p>
                    <p class="lead"><%= user.email %> </p>
                    <p> Phone: <%= user.phone %></p>
                    <p> Age: <%= user.age %></p>
                    <p> Roles: <%= user.roles %></p>

                </div>
            </fieldset>
        </div>
        <div class="col-6">
            <fieldset>
                <legend><%= user.nickname %>'s Projects</legend>
                <div class="row">
                    <% projects.forEach(function(project) { %>
                        <div class="col-4">
                            <div class="card" style="width: 12rem;">
                                <a href="<%= url %>/api/projects/<%= project._id %>">
                                    <img class="card-img-top" src="<%= project.image %>" alt="Card image cap">
                                </a>
                                <div class="card-body">
                                    <h5 class="card-title text-center"><a style="text-decoration: none"
                                                                          href="<%= url %>/api/projects/<%= project._id %>"><%= project.title %></a>
                                    </h5>
                                </div>
                            </div>
                            <br>
                        </div>
                    <% }); %>
                </div>
            </fieldset>
        </div>
    </div>
</main>


</body>
</html>