<!DOCTYPE html>
<html lang="en">
<head>
    <title>Startoryx <%= user.nickname %></title>
    <%- include('../partials/head'); %>
</head>
<body>

<header id="header" style="background-color: #03045E">
    <%- include('../partials/header'); %>
</header>

<!--PRIVATE-->
<div class="container profile_div text-center ">
    <div class="row">
        <div class="col-4 text-center profile_photo_div">
            <% if (isOwner) { %>
                <img data-bs-toggle="modal" data-bs-target="#changePhoto" src="<%= user.image %>"
                     class="rounded-3 profile_photo">
                <div>
                    <h4>Change photo</h4>
                </div>
            <% } else { %>
                <img src="<%= user.image %>"
                     class="rounded-3 profile_photo">
            <% } %>
        </div>
        <div class="col-8 py-auto">
            <div class="row ">
                <div class="col-6 my-1">
                    <div class="row text-xl-start text-center">
                        <div class="col-12 profile_type">Name</div>
                        <div class="col-12 profile_content"><%= user.first_name %> <%= user.last_name %></div>
                    </div>
                    <div class="row text-xl-start text-center">
                        <div class="col-12 profile_type">Nickname</div>
                        <div class="col-12 profile_content"><%= user.nickname %></div>
                    </div>
                    <div class="row text-xl-start text-center">
                        <div class="col-12 profile_type">Age</div>
                        <div class="col-12 profile_content"><%= user.age %></div>
                    </div>
                    <div class="row text-xl-start text-center">
                        <div class="col-12 profile_type">Specialist</div>
                        <div class="col-12 profile_content"><%= user.specialist %></div>
                    </div>
                </div>
                <% if (isOwner) { %>
                    <div class="col-5 my-1">
                        <div class="row text-xl-start text-center">
                            <div class="row text-xl-start text-center">
                                <div class="col-12 profile_type">Phone</div>
                                <div class="col-12 profile_content"><%= user.phone %></div>
                            </div>

                        </div>
                        <div class="row text-xl-start text-center">
                            <div class="col-12 profile_type">Email</div>
                            <div class="col-12 profile_content"><%= user.email %></div>
                        </div>
                        <div class="row text-xl-start text-center">
                            <div class="col-12 profile_type">Activation Status</div>
                            <% if(user.isActivated === false){ %>
                                <div style="color: red; cursor: pointer;" onclick="location.href='/activation'"
                                     class="col-12 profile_content">Activate
                                </div>
                            <% } else { %>
                                <div class="col-12 profile_content">Activated</div>
                            <% } %>
                        </div>
                        <div class="row text-xl-start text-center">
                            <div class="col-12 profile_type">Balance</div>
                            <div class="col-12 profile_content"><%= user.balance %>$
                                <button data-bs-toggle="modal" data-bs-target="#paypal" class="profile_balance_button">
                                    <span style="position: relative; top: -3px">+</span></button>
                            </div>
                        </div>
                    </div>
                    <div class="col-1"><i class="fa fa-solid fa-pencil" style="cursor: pointer"
                                          onclick="location.href='/profile/settings/<%= user.id %>'"></i>
                        <a style="cursor: pointer" onclick="location.href='/logout'"><i
                                    class="fa fa-solid fa-sign-out"></i></a>
                    </div>
                <% } %>
            </div>
        </div>
    </div>
</div>
<br>
<div class="container">
    <ul class="nav nav-pills mx-3 mt-4" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link ">
                <% if (isOwner) { %>
                    My projects
                <% } else { %>
                    <%= user.nickname %>'s projects
                <% } %>
            </button>
        </li>


    </ul>
    <div class="contact-us-line  mb-3"></div>

    <div class="container ">
        <% projects.forEach(function(project) { %>
            <% if ((project.published && !isOwner) || (isOwner)) { %>
                <div class="card_profile">
                    <div class="row">
                        <div class="col-1 card_profile_image_div " style="cursor: pointer"
                             onclick="location.href='/project/<%= project._id %>'"><img
                                    src="<%= project.image %>" alt=""></div>
                        <div class="col-10 card_profile_content_div ">
                            <div class="row" style="position:relative;">
                                <!--TITLE-->
                                <div
                                        class="col-12 card_profile_text_div "><span
                                            onclick="location.href='/project/<%= project._id %>'"
                                            style="font-weight: 600; cursor: pointer"><%= project.title %> </span><span
                                            class="tag tag-teal category_<%= project.type %>"><%= project.type %></span>
                                    <% if (project.published) { %>
                                        <i data-bs-toggle="tooltip" data-bs-placement="top"
                                           title="This project is published" style="color: green"
                                           class="fa fa-check-circle"></i>
                                    <% } else { %>
                                        <i data-bs-toggle="tooltip" data-bs-placement="top"
                                           title="This project has not been published. Moderation approval is required"
                                           style="color: red" class="fa fa-times-circle"></i>
                                    <% } %>
                                    <br>
                                    <!--SHORTLY-->
                                    <%= project.shortly %>
                                </div>


                                <!--FONT AWESOMES-->
                                <div class="col-12">

                                    <div class="card_profile_info_div">
                                        <i class="fa fa-star"></i><%= project.avgRate %>/10
                                    </div>
                                    <div class="card_profile_info_div">
                                        <i class="fa fa-dollar"></i><%= project.collected %>/<%= project.goal %>
                                    </div>
                                    <div class="card_profile_info_div">
                                        <i class="fa fa-comments"></i><%= project.numOfComments %>
                                    </div>
                                    <div class="card_profile_info_div">
                                        <i class="fa fa-eye"></i><%= project.visits %>
                                    </div>
                                    <div style="cursor: pointer"
                                         onclick="location.href='https://telegram.me/share/url?url=<%= url %>/project/<%= project._id %>&text=<%= project.title %> | <%= project.shortly %>'"
                                         class="card_profile_info_div">
                                        <i class="fa fa-share-alt"></i>Share
                                    </div>
                                </div>
                            </div>

                        </div>
                        <% if (isOwner) { %>
                            <div class="col-1 py-3">
                                <!--EDIT-->
                                <i style="cursor: pointer"
                                   onclick="if (confirm('If any data is changed, your project will be processed by moderation again and will become private'))
                                           location.href='/project/edit/<%= project._id %>'"
                                   class="fa fa-solid fa-pencil"></i>

                                <!--DELETE-->
                                <i style="cursor: pointer"
                                   onclick="if (confirm('Are you sure you want to delete the project? There will be no turning back...'))
                                           location.href='/project/delete/<%= project._id %>'"
                                   class="fa fa-solid fa-trash"></i>
                            </div>
                        <% } %>
                    </div>
                </div>
            <% } %>
            <br>
        <% }) %>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="changePhoto" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content p-3">
            <div class="modal-header">
                <h5 class="modal-title">Change profile image</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <br>
            <form class="text-center" action="/files/profile" method="POST" enctype="multipart/form-data">
                <label style="width: 100%" for="file-upload" class="custom-file-upload">
                    Upload image
                </label>
                <input name="ava" accept="image/*" id="file-upload" type="file"/>

                <button type="submit" class="btn border">Save Changes</button>
                <br>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="paypal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Top Up</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="post" action="/pay">
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="message-text" class="col-form-label">Amount:</label>
                        <input type="number" class="profile_input" name="amount">
                        <button type="submit" class="btn btn-success">Confirm</button>

                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<%- include('../partials/footer') %>

</body>
</html>